apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kubernetes_cad }}
    server: {{ kubernetes_server }}
  name: {{ cluster }}
contexts:
- context:
    cluster: {{ cluster }}
    user: {{ username }}
  name: {{ username }}@{{ cluster }}
current-context: {{ username }}@{{ cluster }}
kind: Config
preferences: {}
users:
- name: {{ username }}
  user:
    client-certificate-data: {{ user_cert_data }}
    client-key-data: {{ user_key_data }}